<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Chinese books list</title>
  <link rel="stylesheet" href="../static/css/uikit.min.css">
  <link rel="stylesheet" href="../static/css/uikit-rtl.min.css">
  <script src="../static/js/uikit.min.js"></script>
  <script src="../static/js/uikit-icons.min.js"></script>
  <script src="../static/js/vue.min.js"></script>
  <script src="../static/js/axios.min.js"></script>
</head>
<body>
  <div id="app"  class="uk-container">
    <div  class="uk-flex uk-flex-row uk-flex-center uk-margin-large-top">
      <h3>Crawled Chinese Books</h3>
      <a href="/spider" class="uk-margin-auto-left uk-margin-right uk-margin-top">Go To Spider</a>
      <a href="/englishbook" class="uk-margin-top">Go To English Books</a>
    </div>
    <div class="uk-flex" >
      <ul class="uk-list uk-list-striped uk-width-1-1">
        <li class="uk-width-1-1 uk-grid">
          <span class="uk-width-2-3">booksksks</span>
          <span class="uk-width-1-6">EN</span>
          <button class="uk-button uk-button-primary uk-button-small">Details</button>
        </li>
        <li class="uk-width-1-1 uk-grid">
          <span class="uk-width-2-3">booksksks</span>
          <span class="uk-width-1-6">EN</span>
          <button class="uk-button uk-button-primary uk-button-small">Details</button>
        </li>
        <li class="uk-width-1-1 uk-grid">
          <span class="uk-width-2-3">booksksks</span>
          <span class="uk-width-1-6">EN</span>
          <button class="uk-button uk-button-primary uk-button-small">Details</button>
        </li>
      </ul>
    </div>
  </div>
</body>
</html>