<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Set Spider Parameter</title>
  <link rel="stylesheet" href="../static/css/uikit.min.css">
  <link rel="stylesheet" href="../static/css/uikit-rtl.min.css">
  <script src="../static/js/uikit.min.js"></script>
  <script src="../static/js/uikit-icons.min.js"></script>
  <script src="../static/js/vue.min.js"></script>
  <script src="../static/js/axios.min.js"></script>
</head>
<body>
  <div id="app"  class="uk-container">
    <div class="uk-flex uk-margin-large-top" >
      <form class="uk-form uk-width-1-1">
        <fieldset class="uk-fieldset">
          <legend>Set Spider Paremeter</legend>
          <div class="uk-margin">
            <input class="uk-input" type="text" placeholder="Link Address">
          </div>
          <div class="uk-margin">
            <span class="uk-button uk-button-primary uk-button-small">Start Spider</span>
            <span class="uk-button uk-button-danger uk-button-small">Check Status</span>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</body>
</html>